.full-height {
  height: 100%!important;
  min-height: 100%!important;
  display: flex!important;
}

.full-width {
  width: 100%!important;
}

.max748 {
  max-width: 748px!important;
}


.clickable.v-data-table tbody tr:hover  {
  cursor: pointer;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.break-word {
  word-break: break-word;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.grey-container {
  background-color: var(--v-grey-lighten5);
  border-radius: 4px!important;
}

.list-row {
  border: 1px solid var(--v-grey-lighten2);
  border-bottom-width: 0;
  padding: 0px 16px;
}

.list-row:first-child {
  border-radius: 4px 4px 0 0;
}

.list-row:last-child {
  border-radius: 0 0 4px 4px;
  border-bottom-width: 1px;
}

.list-row:first-child:last-child {
  border-radius: 4px;
  border-bottom-width: 1px;
}

.list-row.selected {
  background-color: var(--v-primary-lighten2);
}

.pointer {
  cursor: pointer!important;
}

.no-pointer {
  cursor: initial !important;
}

.v-data-table__wrapper td {
  word-break: break-word;
}
.pre-formatted {
  white-space: pre-wrap;
}
