@crctech:registry=https://pkgs.dev.azure.com/CRC-Tech/EMIS/_packaging/emis-npm/npm/registry/
//pkgs.dev.azure.com/CRC-Tech/EMIS/_packaging/emis-npm/npm/registry/:username=CRC-Tech
//pkgs.dev.azure.com/CRC-Tech/EMIS/_packaging/emis-npm/npm/registry/:_password=cnA0NTNhdXl3dWZsamVwZ25peWhpc2Jyc3JvMnljbGVqN3d2MjN4a2huamJscnBlM2U3YQ==
//pkgs.dev.azure.com/CRC-Tech/EMIS/_packaging/emis-npm/npm/registry/:email=ANYTHING
//pkgs.dev.azure.com/CRC-Tech/EMIS/_packaging/emis-npm/npm/:username=CRC-Tech
//pkgs.dev.azure.com/CRC-Tech/EMIS/_packaging/emis-npm/npm/:_password=cnA0NTNhdXl3dWZsamVwZ25peWhpc2Jyc3JvMnljbGVqN3d2MjN4a2huamJscnBlM2U3YQ==
//pkgs.dev.azure.com/CRC-Tech/EMIS/_packaging/emis-npm/npm/:email=ANYTHING
always-auth=true
