@rctech:registry=https://pkgs.dev.azure.com/RCTechnologies/EMA/_packaging/EMA/npm/registry/
//pkgs.dev.azure.com/RCTechnologies/EMA/_packaging/EMA/npm/registry/:username=ANYTHING-BUT-EMPTY
//pkgs.dev.azure.com/RCTechnologies/EMA/_packaging/EMA/npm/registry/:_password=eW1vb214ZWRybnRjdDJjb2U0ZHQzaHNza3J4YnlnNjNkdmNnaGllcWNiZzI0N3lpaWZjcQ==
//pkgs.dev.azure.com/RCTechnologies/EMA/_packaging/EMA/npm/registry/:email=ANYTHING-BUT-EMPTY
//pkgs.dev.azure.com/RCTechnologies/EMA/_packaging/EMA/npm/registry/:always-auth=true