@rctech:registry=https://pkgs.dev.azure.com/RCTechnologies/EMIS/_packaging/emis-npm/npm/registry/
//pkgs.dev.azure.com/RCTechnologies/EMIS/_packaging/emis-npm/npm/registry/:username=ANYTHING-BUT-EMPTY
//pkgs.dev.azure.com/RCTechnologies/EMIS/_packaging/emis-npm/npm/registry/:_password=YWl2bnI3emltNnJjdGQyZXp3M2FjcXdiZzRraHZydzR3eXd0d3piNDJxamlrd2RhMnh2YQ==
//pkgs.dev.azure.com/RCTechnologies/EMIS/_packaging/emis-npm/npm/registry/:email=ANYTHING-BUT-EMPTY
//pkgs.dev.azure.com/RCTechnologies/EMIS/_packaging/emis-npm/npm/registry/:always-auth=true
//pkgs.dev.azure.com/RCTechnologies/EMIS/_packaging/emis-npm/npm/:username=ANYTHING-BUT-EMPTY
//pkgs.dev.azure.com/RCTechnologies/EMIS/_packaging/emis-npm/npm/:_password=YWl2bnI3emltNnJjdGQyZXp3M2FjcXdiZzRraHZydzR3eXd0d3piNDJxamlrd2RhMnh2YQ==
//pkgs.dev.azure.com/RCTechnologies/EMIS/_packaging/emis-npm/npm/:email=ANYTHING-BUT-EMPTY
//pkgs.dev.azure.com/RCTechnologies/EMIS/_packaging/emis-npm/npm/:always-auth=true
